body{
    margin: 0;
}

nav#main-nav {
    background-color: black;
    display:flex;
    justify-content: center;
}

#main-nav > a{
    color: white;
    display:inline-block;
    padding: 1em;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all ease-in-out 500ms;
}

#main-nav > a:hover{
    background-color: rgba(0, 0, 255, 0.6);
}

section#dossier-cards{
    text-align: center;
}

a.card{
    display:flex;
    justify-content: center;
    align-items: center;    
    height: 25vw;
    width: 40%;
    background-size: cover;
    text-decoration: none;
    color:black;
    font-size: 3rem;
}

.card.Seal{
    background-image: url("../images/Harbor_Seal.jpg");
}

.flex{
    display:flex;
    flex-flow: row wrap;
    width: 80vw;
    margin: 0 auto;
    justify-content: space-between;
}

.card .content{
    opacity: 0;
    background-color: rgba(255,255,255,0.33);
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    transition: all ease 500ms;
}  

.card:hover .content{
    opacity:1;
}

.card.parrot{
    background-image: url("../images/Yellow-Naped-Amazon-Parrot.jpg");
}

